@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura/Jura-VariableFont_wght.ttf");
}

:root {
    --theme-color: #cc0037;

    --header-color: #121212;
    --header-height: 32px;
    --header-padding: 16px;


    --footer-color: #181919;
    --footer-text: #fcb652;
    --footer-url: #959595;
    --footer-url-hover: #c9c9c9;
    --footer-padding: 64px;


    --section-padding-x: 88px;
    --section-padding-y: 64px;
    --section-color: #121212;



    --text-color: #e3e1dd;
    --text-color-2: #ededed;
    --text-secondary-color: #9c9b99;
    --font: "Monsterrat";

    --icon-shadow: rgba(48, 50, 53, 0.2) 0px 4px 4px;
    --button-shadow: rgba(20, 20, 20, 0.35) 0px 4px 4px;
    --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.desktop-hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: var(--section-color);
    color: var(--text-color);
    font-family: var(--font);

    overflow-x: hidden;
}

img, svg, br {
    user-select: none;
}