/* VARIABLES */
:root {
    --min-width: 1610px;

    --primary-color: #cc0037;
    --complementary-color: #00CC95;

    --text-color: #2c2c2c;


    --main-font: 'Monsterrat';

    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 32px;


    --button-color: var(--primary-color);
    --button-color-hover: #d61246;
    --button-border: solid 3px var(--button-color);
    --button-border-hover: solid 3px var(--button-color-hover);
    --button-padding: 12px;
    --button-border-radius: 10px;
    --button-navigation-hover-background: rgba(200,200,200,0.3);



    --card-box-width: 320px;
    --card-box-height: 120px;
    --card-box-background: #fff;
    --card-box-text: var(--text-color);
    --card-box-padding: 24px;
    --card-box-border-radius: 10px;
    --card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.card-box {
    width: var(--card-box-width);
    height: var(--card-box-height);
    background: var(--card-box-background);

    padding: var(--card-box-padding);
    border-radius: var(--card-box-border-radius);
    box-shadow: var(--card-box-shadow);

    color: var(--card-box-text);
}



.hero-section .grid-bottom ul {
    height: calc(var(--section-height) - 2 * var(--section-padding) - 74px);
}
.documentation-navigation-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-medium);
}
.documentation-navigation-wrapper a {
    text-decoration: none;
}

.documentation-navigation-card-box {
    display: flex;
    align-items: center;
    justify-content: center; /**/
    gap: var(--gap-medium);
    width: calc(419.34px - 2 * var(--card-box-padding));
    height: calc(232.02px - 2 * var(--card-box-padding));
    background: linear-gradient(15deg, #cbcbcb, #ffffff) no-repeat;
    /* width: fit-content;
    height: fit-content; */
}
.darkmode .documentation-navigation-card-box {
    background: linear-gradient(15deg, var(--darkmode-background), #222) no-repeat;
}
.documentation-navigation-card-box:hover {
    filter: brightness(1.05);
}
.darkmode .documentation-navigation-card-box:hover {
    filter: brightness(1.5);
}
.documentation-navigation-card-box p {
    font-family: 'Jura';
    font-weight: 600;
    font-size: 1.8rem;
}
.documentation-navigation-card-box .img {
    width: 48px;
    height: 48px;
    background-size: cover;
}
#menu-image {
    background-image: url('../Images/icons/light/logo.png');
}
#mods-image {
    background-image: url('../Images/icons/light/projects.png');
}
#troubleshoot-image {
    background-image: url('../Images/icons/light/error.png');
}
.darkmode #menu-image {
    background-image: url('../Images/icons/dark/logo.png');
}
.darkmode #mods-image {
    background-image: url('../Images/icons/dark/projects.png');
}
.darkmode #troubleshoot-image {
    background-image: url('../Images/icons/dark/error.png');
}



.inner-section:not(.first-inner-section) {
    margin-top: var(--gap-large);
}
.first-inner-section {
    margin-top: var(--gap-small);
}




.codeblock {
    font-family: 'code';
    color: #cccccc;

    margin-top: 8px;
    background: #1f1f1f;
    padding: var(--card-box-padding);
    /* border-radius: var(--card-box-border-radius); */
    border-radius: 4px;
    box-shadow: var(--card-box-shadow);
    border: solid 1px #2b2b2b;
    width: fit-content;
    height: fit-content;
}
.codeblock, .codeblock li {
    list-style-type: none;
}
purple-code {
    color: #c586c0;
}
green-code {
    color: #4ec9b0;
}
orange-code {
    color: #ce9178;
}
yellow-code {
    color: #dcdcaa;
}
yellow-code-bracket {
    color: #f1d710;
}
unused-variable-code {
    color: #729db3;
}
line-number-code {
    color: #6e7681;
    user-select: none;
}


.file-structure {
    font-family: 'Code';
    font-size: 0.90rem;

    padding: 10px !important;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    border: solid 1px black;
    box-shadow: var(--card-box-shadow);
    background: rgba(255, 255, 255, 0.05);
}
.file-structure, .file-structure li {
    list-style-type: none;
    padding: 0;
}

.file-structure > li::before {
    content: "MODS FOLDER";
    padding-right: 5px;
}
.file-structure li ul > li::before {
    content: "├── ";
    padding-right: 5px;
}
.file-structure li ul > li:last-child::before {
    content: "└── ";
}















.quick-navigation, .quick-navigation li {
    list-style-type: none;
}

.quick-navigation > li::before {
    content: "→ ";
    font-size: 1.5rem;
    line-height: 1rem;
}
.quick-navigation a {
    text-decoration: none;
}

.hero-section .quick-navigation a, .section-primary .quick-navigation a {
    color: var(--text-color);
}

.darkmode .hero-section .quick-navigation a, .darkmode .section-primary .quick-navigation a {
    color: #ddd;
}

.section-secondary .quick-navigation a {
    color: #fff;
}




/* idk sections i guess */
.section-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}
.section-installation {
    flex-direction: column;
}
.card-box-installation {
    height: max-content;
}










json {
    font-family: 'Code';
    font-size: 0.90rem;

    padding: 10px !important;
    display: block;
    white-space: pre-wrap;


    width: max-content;
    height: max-content;
    border-radius: 8px;
    border: solid 1px black;
    box-shadow: var(--card-box-shadow);
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
}
.matrix-code {
    background: rgba(0, 0, 0, 1);
    color: #0f0;
    border: solid 2px #0f0;
}