/* VARIABLES */
:root {
    --min-width: 1610px;

    --primary-color: #cc0037;
    --complementary-color: #00CC95;

    --text-color: #2c2c2c;


    --main-font: 'Monsterrat';

    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 32px;


    --button-color: var(--primary-color);
    --button-color-hover: #d61246;
    --button-border: solid 3px var(--button-color);
    --button-border-hover: solid 3px var(--button-color-hover);
    --button-padding: 12px;
    --button-border-radius: 10px;
    --button-navigation-hover-background: rgba(200,200,200,0.3);



    --card-box-width: 320px;
    --card-box-height: 120px;
    --card-box-background: #fff;
    --card-box-text: var(--text-color);
    --card-box-padding: 24px;
    --card-box-border-radius: 10px;
    --card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



#hero-section-title {
    font-family: 'Jura';
    font-size: 2.4rem;
    font-weight: 800;
}
.card-box-title {
    font-size: 1.04rem;
    font-weight: 600;
    margin-bottom: calc(0.5*var(--card-box-padding));
}



/* SECTIONS */
section{
    min-height: var(--section-height);
    margin: 0;
    padding: var(--section-padding);
    padding-left: var(--section-padding-horizontal);
    padding-right: var(--section-padding-horizontal);
}
.section-small {
    /* min-height: var(--section-small-height); */
    min-height: max-content;
}
.section-primary {
    background: var(--section-primary-color);
}
.section-secondary {
    background: var(--section-secondary-color);
    color: #fff;
}
.hero-section {
    background: var(--section-hero-background);
}

/* idk sections i guess */
.section-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}
.card-box {
    width: var(--card-box-width);
    height: var(--card-box-height);
    background: var(--card-box-background);

    padding: var(--card-box-padding);
    border-radius: var(--card-box-border-radius);
    box-shadow: var(--card-box-shadow);

    color: var(--card-box-text);
}
.section-installation {
    flex-direction: column;
}
.card-box-installation {
    height: max-content;
}



/* more boxes */
#installation-video {
    width: calc((560 / 315) * 443px);
    height: calc((315 / 315) * 443px);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-box-border-radius);
}
#discord-widget {
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-box-border-radius);
}
#discord-join-button {
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: var(--card-box-shadow);
    border: solid 3px #353639;
    background: #353639;
    color: #ffffff;
    transition: background 200ms ease-in-out, border 200ms ease-in-out, color 200ms ease-in-out;
}
#discord-join-button:hover {
    background: #2c2d30;
    border: solid 3px #2c2d30;
    color: #a5a5a7;
}
.goals-inspiration-box {
    align-self: baseline;
    height: fit-content;
}
#card-box-goals {
    justify-self: right;
    width: calc(454.55px - 48px);
}
#card-box-inspiration {
    justify-self: left;
    width: calc(1447px  - (454.55px - 48px) - 48px - var(--gap-large));
}