section.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section.hero img {
    width: 410px;
    filter: drop-shadow(4px 6px 5px #222);
}
section.hero .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--gap-md);
}
section.hero ul {
    margin-top: var(--gap-md);
}

#explanation .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#explanation {
    text-align: center;
}
#explanation p {
    width: calc(var(--section-content-width) * 0.60)
}

#installation .subtitle {
    margin-bottom: var(--gap-md);
}
#installation .content div:not(.content div div) {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
}
#installation .card-wrapper {
    flex-direction: column;
}
#installation .card {
    width: 350px;
}
#installation-video {
    width: calc((560 / 315) * 443px);
    height: calc((315 / 315) * 443px);
    box-shadow: var(--card-shadow);
    border-radius: var(--gap-md);
}

#features .card {
    width: calc(100% / 3 - 2 * var(--gap-md));
    height: 159px;
    /* text-align: justify; */
}

#support .content div:not(.content div div) {
    display: flex;
    gap: var(--gap-md);
}
#support .content div .subtitle {
    margin: 0;
}
#support p {
    width: calc(var(--section-content-width) * 0.40);
}
#discord-button {
    padding-left: var(--gap-lg);
    padding-right: var(--gap-lg);
    padding-top: calc(1.5 * var(--gap-md));
    padding-bottom: calc(1.5 * var(--gap-md));
    margin-top: var(--gap-md);
    background-color: #353639;
    border-color: #353639;
    color: #fff;
    transition: background 150ms ease-in-out, border 150ms ease-in-out, color 150ms ease-in-out, scale 100ms ease-in-out;
}
#discord-button:hover {
    background-color: #2c2d30;
    border-color: #2c2d30;
    color: #a5a5a7;
    scale: 1.01;
}
#discord-widget {
    box-shadow: var(--card-shadow);
    border-radius: var(--gap-sm);
}

#goals .card.goals {
    width: calc(var(--section-content-width) / 2 - var(--gap-md) - 167px);
}
#goals .card.inspiration {
    width: calc(var(--section-content-width) / 2 - var(--gap-md) + 167px);
}
#goals ul {
    margin: 0;
    padding-bottom: 0;
}