:root {

    --min-width: 1380px;

    --gradient: linear-gradient(45deg, #990000, #ff0080) no-repeat;

    /* --button-color: #cc0037; */
    --button-color: #cf0c40;
    /* --button-color-hover: #d30039; */
    --button-color-hover: #e70d47;
    --button-padding: 16px;
    --button-border-radius: 8px;
    --button-border-thickness: 3px;
    --button-border: solid var(--button-border-thickness) var(--button-color);
    --button-border-hover: solid var(--button-border-thickness) var(--button-color-hover);
    --button-border-invisible: solid var(--button-border-thickness) none;
    --button-primary-text-color: #fff;
    --button-secondary-text-color: #000;

    --button-navigation-text-color: #000;
    --button-navigation-background: none;
    --button-navigation-background-hover: rgba(0,0,0,0.05);
    /* --button-navigation-background-hover: rgba(231,13,71,0.1); */

    --scrollbar-width: 17px;

    --header-height: 48px;
    --header-padding: 16px;
    --header-background: #fafafa;
    --header-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    
    --footer-height: max-content;
    --footer-padding: 16px;
    --footer-background: var(--header-background);

    --section-height: 65vh;
    --section-small-height: 32vh;
    --section-padding: 72px;
    /* --section-hero-background: linear-gradient(15deg, #000000, #343434) no-repeat; */
    --section-hero-background: linear-gradient(15deg, #cbcbcb, #ffffff) no-repeat;
    /* --section-hero-text-color: #fff; */

    --section-primary-background: #fff0f0;
    --section-secondary-background: #e70d47;
    --section-secondary-text-color: #fff;
    --section-secondary-link-color: var(--section-secondary-text-color);

    --box-padding: 24px;
    --box-padding-horizontal: 32px;
    --box-border-radius: 12px;
    --box-background: rgba(0,0,0,0.1);
    --box-width: 40%;

    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 32px;
}

@font-face {
    font-family: 'Jura';
    src: url('../Fonts/Jura/Jura-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Comforta';
    src: url('../Fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Code';
    src: url('../Fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}


/* OTHER */
html {
    min-height: 100%;
    min-width: var(--min-width);
}
body {
    margin: 0;
    padding: 0;
    background: var(--section-primary-background);
}
img {
    user-select: none;
}
/* headings */
#header-title {
    font-family: 'Jura';
    font-size: 2.5rem;
}
h1 {
    font-family: 'Jura';
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}
p {
    font-family: 'Comforta';
    font-size: 1.1rem;
}
.subtitle {
    font-family: 'Comforta';
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
}
h2 {
    font-family: 'Comforta';
    font-size: 2.5rem;
    margin: 0;
}
h3 {
    font-family: 'Comforta';
    font-size: 1.5rem;
    margin: 0;
}
.code {
    font-family: 'Code';
}
br {
    user-select: none;
}
/* buttons */
.button {
    text-decoration: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-family: 'Open Sans';
    user-select: none;
}
.button:hover {
    cursor: pointer;
}
.navigation-button {
    color: var(--button-navigation-text-color);
    background: var(--button-navigation-background);
}
.navigation-button:hover {
    background: var(--button-navigation-background-hover);
}
.button-primary {
    background: var(--button-color);
    border: var(--button-border);
    color: var(--button-primary-text-color);
}
.button-primary:hover {
    background: var(--button-color-hover);
    border: var(--button-border-hover);
}
.button-secondary {
    background: none;
    border: var(--button-border);
    color: var(--button-secondary-text-color);
}
.button-secondary:hover {
    border: var(--button-border-hover);
}
/* grid */
.default-grid {
    display: grid;
    grid-template-rows: 76px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'top top'
    'left right';
    justify-content: center;
    grid-gap: var(--gap-medium);
}
.grid-left {
    grid-area: left;
}
.grid-middle {
    grid-area: middle;
}
.grid-right {
    grid-area: right;
}
.grid-top {
    grid-area: top;
}
.grid-bottom {
    grid-area: bottom;
}
.box-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
}
/* footer hyperlinks */
.footer-hyperlink {
    text-decoration: underline;
    color: #0000EE;
}
.footer-hyperlink:hover {
    cursor: pointer;
}
.footer-hyperlink:visited {
    color: #551A8B;
}

/* HEADER */
header {
    position: fixed;

    width: calc(100% - 2*var(--header-padding) - var(--scrollbar-width));
    min-width: var(--min-width);
    height: var(--header-height);
    padding: var(--header-padding);
    padding-right: calc(var(--header-padding) + var(--scrollbar-width));

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:'title navigation other';
    justify-items: center;
    background: var(--header-background);

    box-shadow: var(--header-box-shadow);
}
/* title */
#title {
    grid-area: title;
    justify-self: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    height: calc(var(--header-height));
    gap: var(--gap-small);
    user-select: none;
}
#title img {
    height: inherit;
    background-size: contain;
}
#navigation {
    grid-area: navigation;
    justify-self: left;
}
#other {
    grid-area: other;
    justify-self: right;
}
/* navigation */
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(var(--header-height));
    gap: var(--gap-small);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* CONTENT */
section {
    padding: var(--section-padding);
    min-height: var(--section-height);
    height: max-content;
}
.section-first {
    padding-top: calc(var(--header-height) + var(--section-padding));
}
.section-primary {
    background: var(--section-primary-background);
}
.section-secondary {
    background: var(--section-secondary-background);
    color: var(--section-secondary-text-color);
}
.section-secondary a {
    color: var(--section-secondary-link-color);
}
.section-small {
    min-height: var(--section-small-height);
    height: max-content;
}

.section-hero {
    background: var(--section-hero-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'left right';
    align-items: center;
    justify-items: center;
    text-align: center;
    color: var(--section-hero-text-color);
}
.section-hero ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-medium);
    list-style-type: none;
    margin: 0;
    margin-top: 45px;
    padding: 0;
}
.section-hero img {
    width: 65%;
}

.section-columns {
    display: grid;
    grid-template-rows: 76px max-content;
    justify-content: center;
    grid-gap: var(--gap-medium);
}
.triple-column {
    grid-template-columns: repeat(3, 30%);
    grid-template-areas:
    'top top top'
    'left middle right';
}
.double-column {
    grid-template-columns: repeat(2, 40%);
    grid-template-areas:
    'top top'
    'left right';
}
.section-columns .grid-top {
    justify-self: left;
}
.section-columns div {
    width: 100%;
    height: 100%;
}
.section-columns div:not(.grid-top) {
    width: calc(100% - 2*var(--box-padding-horizontal));
    height: calc(100% - 2*var(--box-padding));
    padding: var(--box-padding);
    padding-left: var(--box-padding-horizontal);
    padding-right: var(--box-padding-horizontal);
    border-radius: var(--box-border-radius);
    background: var(--box-background);
}
.section-columns ul {
    padding-right: 10px;
}
.section-columns p {
    margin: 0;
}

#goals-inspiration p {
    margin: 0;
}
#goals-inspiration ul {
    margin-top: 5px;
}

#support-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#support-image-wrapper img {
    width: 50%;
}
/* #support-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
} */
#support-text-wrapper ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    padding-left: var(--gap-medium);
    gap: var(--gap-medium);
    list-style-type: none;
    margin: 0;
    margin-top: 45px;
    padding: 0;
}

.box {
    padding: var(--box-padding);
    background: var(--box-background);
    border-radius: var(--box-border-radius);
    width: var(--box-width);
    height: max-content;
}

/* FOOTER */
footer {
    width: calc(100% - 2*var(--footer-padding) - var(--scrollbar-width));
    height: var(--footer-height);
    padding: var(--footer-padding);
    padding-right: calc(var(--footer-padding) + var(--scrollbar-width));
    background: var(--footer-background);

    /* display: flex;
    flex-direction: row;
    gap: var(--gap-large); */

    display: grid;
    grid-template-areas:
        'top top top'
        'left middle right';
    justify-content: space-between;
}