@font-face {
    font-family: 'Monsterrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Monsterrat-italic';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura/Jura-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Code';
    src: url('../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

:root {
    /* Accent color */
    --background: #fff;
    --accent-color-1: #cc0037;
    --accent-color-2: #e70d47;
    --accent-color-2-dark: #e4013d;

    /* Darkmode toggle */
    --darkmode-toggle-image-color-light: #fff;
    --darkmode-toggle-image-color-dark: #fff;

    /* Text */
    --text-color: #000;
    --text-font: 'Monsterrat';
    --text-font-italic: 'Monsterrat-italic';
    --hyperlink: #0000ee;
    --hyperlink-visited: #551a8b;
    --hyperlink-secondary: #fff;
    --hyperlink-secondary-visited: #fff;

    /* Spacing */
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 32px;
    --gap-xl: 64px;
    --gap-xxl: 128px;

    /* Box shadows */
    --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --drop-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    /* Buttons */
    --button-color: var(--accent-color-1);
    --button-border: solid 1px var(--button-color);
    --button-shadow: var(--card-shadow);

    /* Sections */
    --section-accent-color: var(--accent-color-2);
    --section-hero-background: linear-gradient(0deg, #cbcbcb, var(--background)) no-repeat;
    --section-height: max-content;
    --section-hero-height: 45vh;
    --section-content-width: 1280px;

    /* Header */
    --header-height: 72px;
    --header-background: #fcfcfc;

    /* Footer */
    --footer-height: max-content;
    --footer-background: #25262b;
    --footer-text: #fcb652;
    --footer-link: #c9c9c9;
    --footer-link-visited: #959595;

    /* Other */
    --maximum-width: 1200px;
}

.darkmode {
    --background: #121212;
    --text-color: #fff;
    --hyperlink: #00cc95;
    --hyperlink-visited: #00996f;
    --header-background: #121212;
    --footer-background: #181919;
    --section-accent-color: var(--accent-color-2-dark);
    --section-hero-background: linear-gradient(0deg, #050505, var(--background)) no-repeat;
}

body {
    z-index: 0;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    background-color: var(--background);
    max-width: var(--minimum-width);
}

a {
    color: var(--hyperlink);
}
a:visited {
    color: var(--hyperlink-visited);
}
section.secondary a {
    color: var(--hyperlink-secondary);
}
section.secondary a:visited {
    color: var(--hyperlink-secondary-visited);
}



/* Text */
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: var(--gap-md);
}
h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
p {
    margin: 0;
}
.subtitle {
    margin-top: -16px;
    font-size: 1.25em;
    font-weight: 600;
}
.card-title {
    font-size: 1.2rem;
    font-weight: 500;
}
kbd {
    padding: 2px 4px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #444;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-family: 'code';
    font-size: 14px;
    color: #fff;
    text-align: center;
}



/* Selections */
img {
    user-select: none;
}
.image-description {
    user-select: none;
}
br {
    user-select: none;
}
iframe {
    user-select: none;
}



/* Buttons */
.button-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-sm);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a.button {
    text-decoration: none;
    color: var(--text-color);
}
.button {
    display: inline-block;
    padding: var(--gap-md);
    border-radius: var(--gap-sm);
    transition: scale 100ms ease-in-out;
    user-select: none;
}
.button:not(.navigation) {
    box-shadow: var(--button-shadow);
}
.button.fill {
    background-color: var(--button-color);
    border: var(--button-border);
    color: #fff;
}
.button.outline {
    border: var(--button-border);
}
.button:hover {
    cursor: pointer;
    scale: 1.02;
}
.button.navigation:hover {
    background-color: rgba(127, 127, 127, 0.1);
}



/* Cards */
.card-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
}
.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    box-shadow: var(--card-shadow);
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    padding: var(--gap-md);
    border-radius: var(--gap-sm);
}
.darkmode .card:not(section.secondary .card) {
    background-color: rgba(255, 255, 255, 0.02);
}



/* File Structure Blocks */
.file-structure {
    font-family: 'Code';
    font-size: 0.90rem;
    padding: var(--gap-md) !important;
    user-select: none;
}
.file-structure, .file-structure li {
    list-style-type: none;
    padding: 0;
}
.file-structure > li::before {
    content: "MODS FOLDER";
    padding-right: 5px;
}
.file-structure li ul > li::before {
    content: "├── ";
    padding-right: 5px;
}
.file-structure li ul > li:last-child::before {
    content: "└── ";
}



/* Header */
header {
    box-sizing: border-box;
    width: 100%;
    height: var(--header-height);
    z-index: 200;
    position: fixed;
    display: grid;
    grid-template-columns: 64px 1fr 340px;
    background-color: var(--header-background);
    box-shadow: var(--drop-shadow);
    user-select: none;
}
.behind-the-header {
    z-index: 100;
    width: 100%;
    height: var(--header-height);
}
.header-section {
    margin: var(--gap-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-sm);
    height: calc(var(--header-height) - 2 * var(--gap-sm));
}

#header-branding img {
    width: 42px;
    height: 42px;
}
#header-branding p {
    display: none;
}

#header-action {
    justify-self: right;
}



/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: var(--footer-height);
    background-color: var(--footer-background);
    color: var(--footer-text);
    padding: var(--gap-lg);
    user-select: none;
}
footer a {
    color: var(--footer-link);
}
footer a:visited {
    color: var(--footer-link-visited);
}

#footer-license {
    justify-self: left;
    text-align: left;
}

#footer-action {
    justify-self: center;
    text-align: center;
}
#footer-action img {
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
#footer-action div {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
}

#footer-version {
    justify-self: right;
    text-align: right;
}



/* Sections */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--section-height);
    padding: var(--gap-xl);
    box-sizing: border-box;
}
section.primary {
    background-color: var(--background);
}
section.secondary {
    background-color: var(--section-accent-color);
    color: #fff;
}
section.hero {
    background: var(--section-hero-background);
    min-height: var(--section-hero-height);
}
section .content {
    height: max-content;
    width: max-content;
    max-width: var(--section-content-width);
}



/* Darkmode toggle */
.darkmode-toggle {
    z-index: 200;
    bottom: var(--gap-md);
    right: var(--gap-md);
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    box-shadow: var(--button-shadow);
    border: none;
    border-radius: var(--gap-sm);
    user-select: none;
    transition: scale 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.darkmode-toggle:hover {
    cursor: pointer;
    scale: 1.02;
}
.darkmode .darkmode-toggle {
    background-color: rgba(200, 200, 200, 0.2);
}

#sun, #sun-hover, #moon, #moon-hover {
    width: 52px;
    height: 52px;
}

/* Lightmode icon */
.darkmode-toggle:not(.darkmode .darkmode-toggle) #moon {
    display: block;
    fill: var(--darkmode-toggle-image-color-light);
}
.darkmode-toggle:not(.darkmode .darkmode-toggle) #sun, .darkmode-toggle:not(.darkmode .darkmode-toggle) #sun-hover, .darkmode-toggle:not(.darkmode .darkmode-toggle) #moon-hover {
    display: none;
}
.darkmode-toggle:not(.darkmode .darkmode-toggle):hover #moon-hover {
    display: block;
    fill: var(--darkmode-toggle-image-color-light);
}
.darkmode-toggle:not(.darkmode .darkmode-toggle):hover #sun, .darkmode-toggle:not(.darkmode .darkmode-toggle):hover #sun-hover, .darkmode-toggle:not(.darkmode .darkmode-toggle):hover #moon {
    display: none;
}

/* Darkmode icon */
.darkmode .darkmode-toggle #sun {
    display: block;
    fill: var(--darkmode-toggle-image-color-dark);
}
.darkmode .darkmode-toggle #moon, .darkmode .darkmode-toggle #sun-hover, .darkmode .darkmode-toggle #moon-hover {
    display: none;
}
.darkmode .darkmode-toggle:hover #sun-hover {
    display: block;
    fill: var(--darkmode-toggle-image-color-dark);
}
.darkmode .darkmode-toggle:hover #sun, .darkmode .darkmode-toggle:hover #moon-hover, .darkmode .darkmode-toggle:hover #moon {
    display: none;
}